[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "@reflax-yield-vault/=lib/immutable/reflax-yield-vault/",
    "@flax-token/=lib/immutable/flax-token-v2/"
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
